<html>
  <head></head>
  <body>
    <style>
      body {
        margin: 0;
      }
      .wrapper {
        border: 1px solid black;
      }
      .accordion {
        --oma-accordion__background: lightsalmon;
        --oma-accordion__summary-background: indianred;
      }
    </style>
    <oma-grid>
      <oma-grid-row fullwidth paddingOnSelf>
        <div class="wrapper">
          <p>Padding on self</p>
        </div>
      </oma-grid-row>
      <oma-grid-row fullwidth paddingOnChildren>
        <div class="wrapper">
          <p>Padding on children</p>
        </div>
      </oma-grid-row>
      <oma-grid-row fullwidth>
        <div class="wrapper">
          <p>Fullwidth</p>
        </div>
      </oma-grid-row>
      <oma-grid-row paddingOnChildren>
        <div class="wrapper">
          <oma-grid-subgrid>
            <p>Fullwidth</p>
          </oma-grid-subgrid>
        </div>
      </oma-grid-row>
      <oma-link to="+4610-111111"></oma-link>
      <br />
      <oma-link to="+4610-222222">With link text</oma-link>
      <br />
      <oma-link to="+4610-333333" alignment="after">
        After phone number
      </oma-link>
      <br />
      <oma-link to="+4610-444444" alignment="before">
        Before phone number
      </oma-link>
      <oma-link to="user@example.com"></oma-link>
      <br />
      <oma-link to="user@example.com">With link text</oma-link>
      <br />
      <oma-link to="user@example.com" alignment="after">After email</oma-link>
      <br />
      <oma-link to="user@example.com" alignment="before">Before email</oma-link>
      <oma-grid-row>
        <oma-google-map
          title="Test map"
          placeid="ChIJEYJiM88adkgR4SKDqHd2XUQ"
          zoom="16"
          height="500px"
          apikey="AIzaSyBumlIBc_bYyE86Xz2K-qf95eWZQiAis9w"
        />
      </oma-grid-row>
    </oma-grid>
    <oma-accordion>
      <span slot="summary">A summary for the accordion</span>
      <span slot="icon">#</span>
      <div slot="details"><p>Some text</p></div>
    </oma-accordion>
    <oma-accordion class="accordion" appendicon="true">
      <span slot="summary">A styled accordion with icon appended</span>
      <span slot="icon">#</span>
      <div slot="details"><p>Some other text</p></div>
    </oma-accordion>
    <script src="site/dist/index.cjs.js" type="module"></script>
    <script src="grid/dist/index.cjs.js" type="module"></script>
    <script src="grid-subgrid/dist/index.cjs.js" type="module"></script>
    <script src="grid-row/dist/index.cjs.js" type="module"></script>
    <script src="link/dist/index.cjs.js" type="module"></script>
    <script src="google-map/dist/index.cjs.js" type="module"></script>
    <script src="accordion/dist/index.cjs.js" type="module"></script>
  </body>
</html>
