<html>
  <head></head>
  <body>
    <style>
      body {
        margin: 0;
      }
      .wrapper {
        border: 1px solid black;
      }
    </style>
    <oma-grid>
      <oma-grid-row fullwidth paddingOnSelf>
        <div class="wrapper">
          <p>Padding on self</p>
        </div>
      </oma-grid-row>
      <oma-grid-row fullwidth paddingOnChildren>
        <div class="wrapper">
          <p>Padding on children</p>
        </div>
      </oma-grid-row>
      <oma-grid-row fullwidth>
        <div class="wrapper">
          <p>Fullwidth</p>
        </div>
      </oma-grid-row>
      <oma-grid-row paddingOnChildren>
        <div class="wrapper">
          <oma-grid-subgrid>
            <p>Fullwidth</p>
          </oma-grid-subgrid>
        </div>
      </oma-grid-row>
      <oma-link to="+4610-111111"></oma-link>
      <br />
      <oma-link to="+4610-222222" childrenAlignment='after'>After phone number</oma-link>
      <br />
      <oma-link to="+4610-333333" childrenAlignment='before'>Before phone number</oma-link>
      <oma-grid-row>
        <oma-google-map
          title="Test map"
          placeid="ChIJEYJiM88adkgR4SKDqHd2XUQ"
          zoom="16"
          height="500px"
          apikey="AIzaSyBumlIBc_bYyE86Xz2K-qf95eWZQiAis9w"
        />
      </oma-grid-row>
    </oma-grid>
    <script src="site/dist/index.cjs.js" type="module"></script>
    <script src="grid/dist/index.cjs.js" type="module"></script>
    <script src="grid-subgrid/dist/index.cjs.js" type="module"></script>
    <script src="grid-row/dist/index.cjs.js" type="module"></script>
    <script src="link/dist/index.cjs.js" type="module"></script>
    <script src="google-map/dist/index.cjs.js" type="module"></script>
  </body>
</html>
