<html>
  <head></head>
  <body>
    <style>
      body {
        margin: 0;
      }
    </style>
    <h1>Slider component</h1>
    <p>Can be used to show images or quotes from happy customers</p>
    <oma-grid style="margin-bottom: 100px">
      <oma-grid-row fullwidth paddingOnSelf style="background-color: #ffaf33">
        <oma-slider preferred-columns="4,4,2,1">
          <div style="display: flex; justify-content: center;">'This is some content for the slider'</div>
        </oma-slider>
      </oma-grid-row>
    </oma-grid>
    <script src="site/dist/index.cjs.js" type="module"></script>
    <script src="grid/dist/index.cjs.js" type="module"></script>
    <script src="grid-subgrid/dist/index.cjs.js" type="module"></script>
    <script src="grid-row/dist/index.cjs.js" type="module"></script>
    <script src="slider/dist/index.cjs.js" type="module"></script>
  </body>
</html>
