<html>
  <head></head>
  <body>
    <style>
      body {
        margin: 0;
      }
    </style>
    <h1>Slider component</h1>
    <p>Can be used to show images or quotes from happy customers</p>
    <oma-grid style="margin-bottom: 100px">
      <oma-grid-row fullwidth paddingOnSelf style="background-color: #ffaf33">
        <oma-slider preferred-columns="4,4,2,1">
          'This is a slider'
        </oma-slider>
      </oma-grid-row>
    </oma-grid>

   <oma-grid style="margin-bottom: 100px">
   <!--   <oma-grid-row fullwidth paddingOnSelf>
        <oma-references background-color="#ffaf33" color="black">
          <oma-reference>
            <p slot="quote">'This is a quote'</p>
            <p slot="author-name">Anders</p>
            <p slot="author-description">Web developer</p>
          </oma-reference>
          <oma-reference>
            <p slot="quote">'This is another quote'</p>
            <p slot="author-name">Neil</p>
            <p slot="author-description">Artist</p>
          </oma-reference>
        </oma-references>
      </oma-grid-row>
    </oma-grid>-->
    <script src="site/dist/index.cjs.js" type="module"></script>
    <script src="grid/dist/index.cjs.js" type="module"></script>
    <script src="grid-subgrid/dist/index.cjs.js" type="module"></script>
    <script src="grid-row/dist/index.cjs.js" type="module"></script>
    <script src="slider/dist/index.cjs.js" type="module"></script>
  </body>
</html>
